/* botton */
.btn{
position: relative;
display: inline-block;
border: transparent;
background: none;
letter-spacing: 0.25em;
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
text-align: center;
color: #fff;
margin: 0px;
padding: 11px 25px;
background-color: #00337C !important;
border-radius: 0px;
}

/* linea Divisoria */

pb-text{
    color: #4885dc;
    line-height: 10px;
}

/* Input text */
input.form-control{
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1.3rem;
line-height: 2.5;
color: #495057;
background-color: #00337c2e !important;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
border-radius: 0px;
}

/* boton Search */

.btn-info {
    color: #fff;
    background-color: #00337C;
    border-color: transparent;
    border-radius: 0px;
}

.btn-info:hover {
    background-color: #00337c52;
    border-color: transparent;
}

/* Cuerpo */
body{
font-family: 'tahoma';
}

/* Checkbox */

input[type=checkbox]{
    line-height: normal;
    width: 2rem;
    border: 1px solid black;
    height: 2rem;
    margin: 0px 2px 2px -34px !important;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #00337C;
}

/* Select list */

select.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    border-radius: 0px;
}

/* Fondo Fila de Tabla */

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff7c1;
}

/* Encabezado de tabla */

.table>thead>tr>th {
    vertical-align: top;
    color: #00337C;
}

/* Titulos */

h2 {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-style: normal;
    margin-top: 60px;
    color: #ffffff;
    font-weight: 100;
}

h3 {
    color: #808080;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1px;
}

h4 {
    color: #00337C;
    font-weight: bold;
}

.component.titulo-h2 {
    background-color: #00337C;
    margin: 0;
    border-bottom: 5px solid #FFCC00;
}

/* ----- Modal ---- */

.modal-javeriana{
position: absolute;
width: 30%;
left: 0;
right: 0;
margin: 5% auto;
background-color: white;
}

.modal-javeriana h2.no-radicado{
color: #00337c;
/* margin: 40px; */
border-top: 1px solid #00337c;
padding: 11px;
}

.modal-javeriana a.ng-binding.btn.btn-primary{
margin-bottom: 15px;
}

/* otros detalles de fina coquetería */

.consultar{
margin-top: 27px;
}

input.form-control.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required.ng-valid-minlength.ng-valid-maxlength {
background-color: white !important;
}

input.form-control.ng-valid-maxlength.ng-dirty.ng-valid-parse.ng-valid-required.ng-valid.ng-valid-minlength.ng-touched{
background-color: white !important;
}
